<ion-header *ngIf="!status.camera">
  <ion-toolbar>
    <ion-title>
      OCR Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!status.camera; then debugCont ; else cameraCont"></ng-container>
  <!-- Camera -->
  <ng-template #cameraCont>

  </ng-template>
  <!-- Debug mode -->
  <ng-template #debugCont>
    <ion-card>
      <ion-card-header>
        Log
      </ion-card-header>
      <ion-card-content>
        <pre>
      {{log}}
    </pre>
      </ion-card-content>
    </ion-card>
    <!-- <input [(ngModel)]="b64Str" type="text"> -->
    <!-- show img prev -->
    <ng-container *ngIf="showImg">

      <ion-item>
        <ion-label position="floating">grayscale</ion-label>
        <ion-input [(ngModel)]="grayscale"
                   (ionInput)="handleChanges()"
                  ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">saturate</ion-label>
        <ion-input [(ngModel)]="saturate"
                   (ionInput)="handleChanges()"
                   ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">brightness</ion-label>
        <ion-input [(ngModel)]="brightness"
                   (ionInput)="handleChanges()"
                   ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">contrast</ion-label>
        <ion-input [(ngModel)]="contrast"
                   (ionInput)="handleChanges()"
                  ></ion-input>
      </ion-item>

      <div style="overflow-x:auto;">
        <img [src]="imgSrc"
             class="responsive">
      </div>

    </ng-container>


  </ng-template>
  <!-- Both -->

  <!-- /Both -->
  <!-- Fabs -->
  <ion-fab vertical="bottom"
           horizontal="end"
           slot="fixed">
    <ng-container *ngIf="!status.camera; then debugMode ; else cameraMode"></ng-container>
    <!-- Camera off -->
    <ng-template #debugMode>
      <ion-fab-button (click)="startCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ng-template>
    <!-- Camera on -->
    <ng-template #cameraMode>

      <ion-fab-button>
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon color="danger"
                    (click)="stopCamera()"
                    name="bug"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>


      <ion-fab-list side="start">
        <ion-fab-button>
          <ion-icon (click)="takeSnapshot()"
                    name="aperture"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon (click)="takePicture()"
                    name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>


    </ng-template>


  </ion-fab>
  <!-- Both   -->
  <ion-button (click)="read()">read</ion-button>
  <ion-button (click)="takeSnapshot('b')">takeSnapshot b</ion-button>
  <ion-button (click)="takeSnapshot('normal')">takeSnapshot n</ion-button>
  <ion-button [disabled]="!imgSrc"
              (click)="showImg = !showImg">show prev</ion-button>
  <input type="file"
         (change)="fileInput($event)">
</ion-content>